<div class="container mx-auto px-4 py-4 h-screen">
  <div class="mt-8">
    <h2 class="text-xl font-bold mb-2">My notifications</h2>
    <ng-container *ngIf="notifications$ | async as notifications; else loading">
      <div class="mt-8">
        <table class="min-w-full divide-y divide-gray-200">
          <thead class="bg-gray-50">
            <tr>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                Project ID
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                Project Name
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                Message
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                Status
              </th>
              <th
                scope="col"
                class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider"
              >
                Actions
              </th>
            </tr>
          </thead>
          <tbody class="bg-white divide-y divide-gray-200">
            <tr *ngIf="notifications.length === 0">
              <td
                colspan="5"
                class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"
              >
                No events here...
              </td>
            </tr>
            <ng-container *ngFor="let notification of notifications">
              <tr class="bg-white" *ngIf="notifications.length > 0">
                <td
                  class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900"
                >
                  {{ notification.project_id }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{ notification.project_name }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{ notification.msg }}
                </td>
                <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                  {{ notification.status }}
                </td>
                <td
                  class="px-6 py-4 whitespace-nowrap text-left text-sm font-medium"
                >
                  <button
                    class="text-red-600 hover:text-red-900 cursor-pointer"
                    (click)="deleteNotification(notification.id)"
                  >
                    Delete
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </ng-container>
    <ng-template #loading>
      <div>Loading...</div>
    </ng-template>
  </div>
</div>
