<mat-toolbar color="primary">
  <button mat-icon-button (click)="start.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span
    routerLink="/dashboard"
    class="cursor-pointer ml-2 text-xs hover:opacity-70 transition-opacity"
    >EASYLANG</span
  >
  <span class="spacer"></span>
  <button mat-icon-button aria-label="profile" routerLink="/events">
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button aria-label="profile" routerLink="/profile">
    <mat-icon>person</mat-icon>
  </button>
</mat-toolbar>
