<mat-toolbar color="primary">
  <span class="cursor-pointer" routerLink="/project" class="cursor-pointer hover:opacity-70 transition-opacity">EasyLang</span>
  <span class="spacer"></span>
  <button mat-icon-button aria-label="user add" routerLink="/invitation">
    <mat-icon>person_add</mat-icon>
  </button>
  <button mat-icon-button aria-label="profile" routerLink="/profile">
    <mat-icon>person</mat-icon>
  </button>
  <button mat-icon-button aria-label="log out">
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
