<div class="ml-10 mt-10">
  <h1>Profile</h1>
</div>
<div class="p-6 max-w-sm mx-auto h-screen">
  <div class="p-6 bg-white rounded-xl shadow-md flex items-center space-x-4">
    <ng-template #loading>
      Loading...
    </ng-template>
    <div *ngIf="user$ | async as user; else loading">
      <div class="text-xl font-medium text-black">
        {{ user.name }} {{ user.surname }}
      </div>
      <p class="text-gray-500">{{ user.role }}</p>
      <p class="text-gray-500">Ваш рейтинг: {{ user.rate }}/100</p>
      <p class="text-gray-500">
        Статус:
        <span
          [ngClass]="{
            'text-red-500': user.status === 'NOT READY',
            'text-green-500': user.status === 'READY'
          }"
          >{{ user.status }}</span
        >
      </p>
    </div>
  </div>
</div>
