<div class="overflow-x-auto p-2">
  <ng-container *ngIf="(projectsList$ | async) as projectsList; else loading">
    <h1>Projects</h1>
    <p>
      <project-create-button></project-create-button>
    </p>
    <table class="table-auto min-w-full">
      <thead>
      <tr>
        <th class="border px-4 py-2">ID</th>
        <th class="border px-4 py-2">Name</th>
        <th class="border px-4 py-2">Number of Chapters</th>
        <th class="border px-4 py-2">Status</th>
        <th class="border px-4 py-2">Started At</th>
        <th class="border px-4 py-2">Progress</th>
      </tr>
      </thead>
      <tbody>
      <!-- Вставьте данные из вашего источника данных здесь -->
      <tr *ngFor="let project of projectsList">
        <td class="border px-4 py-2">{{ project.id }}</td>
        <td class="border px-4 py-2 cursor-pointer text-blue-500 hover:opacity-70" [routerLink]="[project.id]">{{ project.name }}</td>
        <td class="border px-4 py-2">{{ project.number_of_chapters }}</td>
        <td class="border px-4 py-2">{{ project.status }}</td>
        <td class="border px-4 py-2">{{ project.started_at | date: 'MM, dd, yyyy, HH:mm:ss' }}</td>
        <td class="border px-4 py-2">{{ project.progress }}%</td>
      </tr>
      <!-- Добавьте другие строки таблицы здесь -->
      </tbody>
    </table>
  </ng-container>
  <ng-template #loading>
    Loading...
  </ng-template>
</div>
