<div class="flex justify-center items-center flex-col h-screen">
  <mat-card class="p-8 mb-20">
    <mat-card-title>
      <h1>Invitation code</h1>
    </mat-card-title>
    <mat-card-header>
      <p>Need to invite some employee?</p>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="flex flex-col">
        <mat-form-field>
          <mat-label>Employee role</mat-label>
          <mat-select formControlName="role">
            <mat-option value="manager">Manager</mat-option>
            <mat-option value="translator">Translator</mat-option>
            <mat-option value="editor">Editor</mat-option>
          </mat-select>
        </mat-form-field>
        <button mat-flat-button color="primary" class="mt-2">Get invitation code</button>
      </form>
    </mat-card-content>
    <mat-card-footer class="mt-2">
      <ng-container *ngIf="(invitationCode$ | async) as invitationCode">
        <p>
          Code: {{ invitationCode }}
        </p>
      </ng-container>
    </mat-card-footer>
  </mat-card>
  <div class="mt-4">
    <mat-card>
      <mat-card-content>
        <h2>To use invitation code, follow these instructions:</h2>
        <ul>
          <li>∙ Generate and copy random code</li>
          <li>∙ Share invitation code to a new employee</li>
          <li>∙ New employee should paste code in registration form</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>
