<div class="min-h-screen container mx-auto px-8 relative" *ngIf="taskDetail$ | async as task">
  <header class="flex items-center justify-between py-4">
    <h1 class="text-2xl font-bold">{{ task.name }}</h1>
    <div class="flex flex-col items-end">
      <p class="mr-4">Created at: {{ task.started_at | date: 'HH:mm, dd, MMMM, yyyy' }}</p>
      <div class="mr-4" *ngIf="task.responsibles.length > 0; else noTranslator">
        <span class="font-bold">Responsible: </span>
        <ng-container *ngFor="let translator of task.responsibles; let last = last">
          <span>{{ translator.name }} {{ translator.surname }}</span>
          <span *ngIf="!last">, </span>
        </ng-container>
      </div>
      <ng-template #noTranslator>
        <p>No translator responsible yet...</p>
        <task-responsible-button [projectId]="projectId" [taskId]="taskId"></task-responsible-button>
      </ng-template>
    </div>
  </header>
  <main class="my-8">
    <p class="text-lg">{{ task.description }}</p>
  </main>
  <table class="w-full table-auto border-collapse border border-gray-300">
    <thead>
    <tr class="bg-gray-200 text-gray-700">
      <th class="p-4 text-center">ID</th>
      <th class="p-4 text-center">Status</th>
      <th class="p-4 text-center">Grade</th>
      <th class="p-4 text-center">Actions</th>
    </tr>
    </thead>
    <tbody *ngIf="submissions$ | async as submissions; else noSubmissions">
    <tr *ngFor="let submission of submissions">
      <td class="p-4 text-center border border-gray-300">{{ submission.id }}</td>
      <td class="p-4 text-center border border-gray-300">{{ submission.status }}</td>
      <td class="p-4 text-center border border-gray-300">{{ submission.grade }}</td>
      <td class="p-4 text-center border border-gray-300">
        <a [routerLink]="[submission.id]" class="text-blue-500 hover:text-blue-700">edit</a>
      </td>
    </tr>
    </tbody>
  </table>
  <ng-template #noSubmissions>No submissions yet...</ng-template>
</div>
<div class="flex justify-end fixed bottom-8 right-8">
  <button mat-fab color="basic" [routerLink]="['submission']">
    <mat-icon>border_color</mat-icon>
  </button>
</div>
