<div class="container mx-auto flex justify-center items-center h-full">
  <mat-card class="register-card p-8">
    <mat-card-title class="text-center">
      <h1 class="text-4xl font-bold">EASYLANG</h1>
      <p class="text-sm">love your project.</p>
    </mat-card-title>
    <mat-stepper #stepper>
      <form [formGroup]="formGroup" (ngSubmit)="onRegister()" class="mt-8">
        <mat-step class="mt-2" errorMessage="Name is required.">
          <ng-template matStepLabel>Fill out your name and surname</ng-template>
          <mat-form-field class="input-field mt-10">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
          <mat-form-field class="input-field">
            <mat-label>Surname</mat-label>
            <input matInput formControlName="surname">
          </mat-form-field>
          <div class="mt-4">
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </mat-step>
        <mat-step class="mt-2" errorMessage="Address is required.">
          <ng-template matStepLabel class="mb-2">Fill out your username and password</ng-template>
          <mat-form-field class="input-field mt-10">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
          </mat-form-field>
          <mat-form-field class="input-field">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
          </mat-form-field>
          <div class="mt-4">
            <button mat-button matStepperPrevious type="button">Back</button>
            <button mat-button matStepperNext type="button">Next</button>
          </div>
        </mat-step>
        <mat-step class="mt-2">
          <ng-template matStepLabel class="mb-2">Done</ng-template>
          <mat-form-field class="input-field mt-10">
            <mat-label>Invitation code</mat-label>
            <input matInput formControlName="invitation_code">
          </mat-form-field>
          <div class="mt-4">
            <button mat-button matStepperPrevious type="button">Back</button>
            <button
              mat-raised-button
              color="primary"
              routerLink="/project"
              type="submit"
              class="ml-2"
            >REGISTER</button>
          </div>
        </mat-step>
      </form>
    </mat-stepper>
    <a routerLink="/login" class="block text-center mt-4 text-blue-500 hover:opacity-70 transition-opacity">Have an account?</a>
  </mat-card>
</div>
