<div class="container">
  <div class="flex justify-between">
    <h2 mat-dialog-title>Add project</h2>
    <button mat-icon-button mat-dialog-close class="mr-2 mt-2">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <div class="bg-red-500 w-full text-white p-2 mb-2" *ngIf="validationErrors">{{ validationErrors }}</div>
    <form class="flex flex-col" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <input matInput type="text" name="projectName" formControlName="projectName" />
        <mat-label>Project name</mat-label>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput type="text" name="description" formControlName="description"></textarea>
        <mat-label>Description</mat-label>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="number" name="numberOfPages" formControlName="numberOfPages" />
        <mat-label>Number of pages</mat-label>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Choose a deadline</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          [min]="minDate"
          formControlName="deadline"
          name="deadline"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <div mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit">
          Create
        </button>
      </div>
    </form>
  </div>
</div>
