<div class="flex justify-between">
  <h2 mat-dialog-title>Please grade work from 0 till 100</h2>
  <button mat-icon-button mat-dialog-close class="mr-2 mt-2">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <div class="bg-red-500 w-full text-white p-2 mb-2" *ngIf="validationErrors">{{ validationErrors }}</div>
  <form class="flex flex-col" [formGroup]="formGroup">
    <mat-form-field>
      <input matInput type="number" formControlName="grade" />
      <mat-label>Grade</mat-label>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions class="float-end">
  <button mat-button mat-dialog-close type="button" (click)="onCloseDialog()">
    Cancel
  </button>
  <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">
    Submit
  </button>
</div>
