<div class="min-h-screen py-6 bg-gray-100">
  <div class="max-w-7xl mx-auto sm:px-6 lg:px-8">
    <h1 class="font-bold text-4xl font-gray-800">Translators rating</h1>
    <p class="text-gray-500">
      This is translators rating. Generally, translators with high rating, less
      mistakes, more completed tasks are ranked highly.
    </p>
    <div class="bg-white shadow-md rounded my-6">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-800 text-white">
          <tr>
            <th class="px-6 py-3 text-left font-semibold">Place</th>
            <th class="px-6 py-3 text-left font-semibold">User</th>
            <th class="px-6 py-3 text-left font-semibold">Rate</th>
            <th class="px-6 py-3 text-left font-semibold">Completed Tasks</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <ng-container *ngFor="let r of rating | async; let i = index">
            <tr [class]="i % 2 === 0 ? 'bg-gray-50' : ''">
              <td class="px-6 py-4 whitespace-nowrap">{{ r.place }}</td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{ r.name }} {{ r.surname }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap">{{ r.rate }}</td>
              <td class="px-6 py-4 whitespace-nowrap">
                {{ r.tasks_completed }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
