<mat-nav-list>
  <div class="flex justify-center flex-col items-center">
    <mat-list-item [routerLink]="['/dashboard']" routerLinkActive="active-link">
      <mat-icon matListItemIcon>dashboard</mat-icon>
      <span routerLinkActive="active-link">Dashboards</span>
    </mat-list-item>
    <mat-list-item (click)="toggleDropdown()" routerLinkActive="active-link">
      <mat-icon matListItemIcon *ngIf="!showDropdown; else backDropdown">
        expand_more
      </mat-icon>
      <ng-template #backDropdown>
        <mat-icon matListItemIcon>chevron_right</mat-icon>
      </ng-template>
      <span>Last projects</span>
    </mat-list-item>
    <mat-divider></mat-divider>
    <div *ngIf="showDropdown" class="w-full">
      <mat-nav-list>
        <ng-container *ngIf="projects && projects.length > 0; else noProjects">
          <mat-list-item *ngFor="let project of projects" [routerLink]="['/project', project.id]">
            <span routerLinkActive="active-link">#{{ project.id }} {{ project.name }}</span>
          </mat-list-item>
        </ng-container>
        <ng-template #noProjects>
          <mat-list-item disabled>No projects found</mat-list-item>
        </ng-template>
      </mat-nav-list>
    </div>
    <mat-list-item routerLink="/rating">
      <mat-icon matListItemIcon>poll</mat-icon>
      <span routerLinkActive="active-link">Translators rating</span>
    </mat-list-item>
  </div>
</mat-nav-list>
