<div class="flex flex-col p-2 h-screen">
  <h1>Projects Dashboard</h1>
  <div class="flex flex-wrap gap-4">
    @if(projectsList$ | async; as projectList) {
      @if(projectList.length > 0) {
        @for (project of projectList; track project) {
          <mat-card>
            <div [ngClass]="{
          'bg-red': project.status === 'MAY BE DELAYED',
          'bg-green': project.status === 'FINISHED',
          'bg-yellow': project.status === 'IN PROGRESS'
        }">
              <mat-card-title class="pt-8 pr-8 pl-8 mb-2">
                <h2
                  [routerLink]="['/project', project.id]"
                  class="hover:underline cursor-pointer"
                >
                  #{{ project.id }} {{ project.name }}
                </h2>
              </mat-card-title>
            </div>
            <mat-card-content class="pr-8 pl-8 mb-2 mt-4">
              <p class="text-center">{{ project.description }}</p>
            </mat-card-content>
            <mat-card-actions class="flex justify-between">
              <p>
                {{ project.status }}
              </p>
              <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="(user$ | async)!.role === 'manager'">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="deleteProject(project.id)">
                  <mat-icon>delete</mat-icon>
                  <span>Delete</span>
                </button>
              </mat-menu>
            </mat-card-actions>
          </mat-card>
        }
      } @else {
        No projects yet...
      }
    } @else {
      Loading...
    }
  </div>
  <project-create-button class="fixed bottom-8 right-8"></project-create-button>
</div>
