<div class="flex justify-between">
  <h2 mat-dialog-title>Add editor</h2>
  <button mat-icon-button mat-dialog-close class="mr-2 mt-2">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <div class="bg-red-500 w-full text-white p-2 mb-2" *ngIf="validationErrors">{{ validationErrors }}</div>
  <form class="flex flex-col" [formGroup]="formGroup">
    <mat-form-field>
      <mat-label>Editors</mat-label>

      <input
        type="text"
        placeholder="Pick one"
        aria-label="Number"
        matInput
        [matAutocomplete]="auto"
        formControlName="editor"
      />
      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        @for (editor of editors$ | async; track editor) {
          <mat-option [value]="editor"
            >{{ editor.name }} {{ editor.surname }}</mat-option
          >
        }
      </mat-autocomplete>
    </mat-form-field>
  </form>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close type="button" (click)="onCloseDialog()">
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      (click)="onSubmit()"
    >
      Add
    </button>
  </div>
</div>
